.UploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    background-color: #6ac174;
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 2px rgba(1, 1, 1, 0.8);
}

.UploadButton:active {
    background-color: #5eaa66;
    box-shadow: 0 0 2px 1px rgba(1, 1, 1, 0.8);
}

.UploadArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.UploadArea audio{
    margin-bottom: 1rem;
    width: 100%;
}

.UploadArea textarea{
    margin-top: 1rem;
    width: 100%;
    height: 2.4em;
}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}