.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 20rem;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border: 2px solid darkgrey;
    border-radius: 1rem;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    background-color: #6ac174;
}

.recorder_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 100%;
}

.plug {
    background-color: rgb(230, 230, 230);
    padding: 0.5rem;
    border: 2px solid darkgrey;
    border-radius: 0.5rem;
}

.plug_link {
    margin-left: 0.25rem;
    padding: 0.08rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
    border-radius: 0.05rem;
    background-color: #6ac174;
    box-shadow: 1px 1px 4px 2px rgba(1, 1, 1, 0.8);
}

.plug_link:active {
    background-color: #5eaa66;
    box-shadow: 0 0 2px 1px rgba(1, 1, 1, 0.8);
}